@import "tailwindcss";

@font-face {
  font-family: Spartan;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/spartan.ttf") format("truetype");
}

@font-face {
  font-family: "GE SS Two";
  src: url("/fonts/GE_SS_Two_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Spartan", ui-sans-serif, sans-serif;
}

@theme {
  --font-spartan: "Spartan", ui-sans-serif, sans-serif;
  --font-ge-ss-two: "GE SS Two", serif;
  --color-primary: #41b69d;
  --color-primary-text: #6c6c6c;
  --color-secondary-text: #939393;
}
